@font-face{
    font-family:canter;
    src: url(../fonts/Canter.otf);
}

@font-face{
    font-family:homestead;
    src: url(../fonts/Homestead.ttf);
}

body {
<<<<<<< HEAD
    background-color: white;
=======
  background-color: white;
>>>>>>> refs/remotes/origin/master
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #2c3e50;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: white;
}

h1 {
<<<<<<< HEAD
    font-size: 50px;
=======
	font-size: 50px;
>>>>>>> refs/remotes/origin/master
    font-family: canter;
}

h3 {
<<<<<<< HEAD
    color: #95a5a6;
    font-weight: 400;
}

h4 {
    color: #95a5a6;
    font-weight: 400;
    font-size: 20px;
=======
	color: #95a5a6;
	font-weight: 400;
}

h4 {
	color: #95a5a6;
	font-weight: 400;
	font-size: 20px;
>>>>>>> refs/remotes/origin/master
}

h6 {
    margin-bottom: 0px;
    margin-top: 0px;
}

/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
    font-size: 16px;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #3498db;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

#desc1 {
<<<<<<< HEAD
    margin-top: 15px;
    text-align: center;
    margin-bottom: 25px;
}

#desc2 {
    text-align: center;
    margin-bottom: 25px;
    color: #8e44ad;
=======
  margin-top: 15px;
  text-align: center;
  margin-bottom: 25px;
}

#desc2 {
  text-align: center;
  margin-bottom: 25px;
  color: #8e44ad;
}

#desc3 {
  margin-top: 25px;
  text-align: center;
  margin-bottom: 25px;
>>>>>>> refs/remotes/origin/master
}

#label {
    color: #2980b9;
    margin-left: 10%;
    width: 80%;
    text-align: center;
    font-size: 40px;
}

#colorlabels {
    margin-top: 20px;
}

#stage {
<<<<<<< HEAD
    margin-left: 5%;
    width: 90%;
    padding-top: 15px;
=======
    margin-left: 15%;
    width: 80%;
    background-image: url(../img/grid.svg);
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 10px;
>>>>>>> refs/remotes/origin/master
    transition: all 1s;
}

.day {
    width: inherit;
    height: 50px;    
    transition: all 1s;
    position: absolute;
    border: 
}

<<<<<<< HEAD
=======
.name {
    color: #2c3e50;
    position: absolute;
    margin-top: 15px;
    margin-left: -150px;
    width: 150px;
}

>>>>>>> refs/remotes/origin/master
.period {
    margin: 0 0;
    display: inline-block;    
    height: inherit;
    padding-top: 15px;
    padding-left: 2px;
}

<<<<<<< HEAD
=======
.inactive {
    background-color: rgba(225, 221, 225, 0.3);
    color: #8e44ad;
    z-index: 10;
}

>>>>>>> refs/remotes/origin/master
.active {
    background-color: rgba(251, 56, 50, 0.3);
    z-index: 11;
    color: #2c3e50;
}

.close {
    color: transparent;
    height: 5px;
    margin-top: 0px;
}

.btn {
    color: white;
    background-color: #2980b9;
}

.aggregate .day .period{    
    color: transparent;
}

.aggregate .day .active{    
<<<<<<< HEAD
    background-color: rgba(231, 76, 60, 0.12);
=======
     background-color: rgba(231, 76, 60, 0.12);
>>>>>>> refs/remotes/origin/master
}

.aggregate .day .inactive{   
    background-color: rgba(205, 211, 215, 0.01);
}

.label-default {
    background-color: rgba(251, 56, 50, 0.3);
    color: white;
}

.label-primary {
    background-color: rgba(225, 221, 225, 0.3);
    color: #8e44ad;
}

<<<<<<< HEAD
#gitlink {
    display: none;
}

.name {
    color: transparent;
}

.inactive {
    background-color: rgba(225, 221, 225, 0.3);
    color: transparent;
    z-index: 10;
}

#desc3 {
/*    margin-top: 25px;*/
    text-align: center;
    margin-bottom: 25px;
}

/* TABLETS PORTRAIT */
@media only screen and (min-width: 768px) {
    .name {
        color: #2c3e50;
        position: absolute;
        margin-top: 15px;
        margin-left: -150px;
        width: 150px;
    }

    .inactive {
        background-color: rgba(225, 221, 225, 0.3);
        color: #8e44ad;
        z-index: 10;
    }

    #desc3 {
        margin-top: 25px;
        text-align: center;
        margin-bottom: 25px;
    }

    #gitlink {
        display: block;
    }
    #stage {
        margin-left: 15%;
        width: 80%;
        background-image: url(../img/grid.svg);
        background-size: cover;
        padding-top: 60px;
        padding-bottom: 10px;
        transition: all 1s;
    }
}
=======

>>>>>>> refs/remotes/origin/master

